/* Over All Page Layout */
.battlePage {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 'battleArea eventLog';
    /* max-width: 80%; */
    height: 100vh;

}

.battleArea {
    grid-area: battleArea;
    display: grid;
    grid-template-rows: 600px 160px;
    grid-template-areas:
        'monsterArea'
        'charArea';
    height: 100vh;
    width: 100%;
}



/* Enemy Battle Area Layout*/
.enemyBattleArea {
    grid-area: monsterArea;
    border: 10px ridge #2d1e2f;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 90%;
    grid-template-areas:
        'flr flr flr'
        'ene1 ene2 ene3';
    /* background-color: #214e34; */
    background: url('../../Images/floor1.png') right no-repeat, url('../../Images/floor2.png') left repeat;
    background-size: contain;
    height: 100%;
}

.floorNumber {
    border: 10px ridge #2d1e2f;
    margin: 0;
    grid-area: flr;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242f30;
    height: 100%;
}


.enemyPanel {
    border: 10px solid #2d1e2f;
    background-color: #af3e4d;
    width: 100px;
    height: 100px;

}

.enemy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enemyName {
    display: flex;
    justify-content: center;
}

/* .enemyImage {} */

.enemyHealth {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.enemyTarget {
    position: absolute;
    width: 100px;
    height: 50px;
}

#enemy1 {
    grid-area: ene1;
}

#enemy2 {
    grid-area: ene2;
}

#enemy3 {
    grid-area: ene3;
}





/* Hero Battle Area Layout*/
.heroBattleArea {
    grid-area: charArea;
    display: grid;
    border: 10px ridge #2d1e2f;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'char1 char2 char3';
    background-color: #384243;
    height: 100%;
    /* height: 180px; */

}

.heroBattleArea>.avatar {
    width: 100px;
    height: 100px;
    border-radius: 15%;
}

.charName {
    display: flex;
    justify-content: center;
}

.charAvatar {
    display: flex;
    justify-content: center;
}

.charHealth {
    display: flex;
    justify-content: center;
}

/* .hideMenu {} */

.charAtkButton {
    width: 100%;
    height: 50px;

    /* height: 50px; */
}

.charAblButton {
    width: 100%;
    height: 50px;

    /* height: 50px; */
}

.charMgcButton {
    width: 100%;
    height: 50px;
}

.char_1 {
    grid-area: char1;
    display: grid;
    height: 160px;
    /* border: 10px solid #2d1e2f; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'info buttons';
}


#char1Info {
    grid-area: info;
    height: 160px;
    display: grid;
    grid-template-rows: 1em 100px 1em;
    grid-template-areas:
        'name'
        'avatar'
        'health';
}

#char1Name {
    grid-area: name;
}

#char1Health {
    grid-area: health;
}

#char1Avatar {
    grid-area: avatar;
}

#char1Buttons {
    grid-area: buttons;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* #char1Buttons {
    grid-area: buttons;
    height: 180px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'atk'
        'abl'
        'mgc';
}

#char1Atk {
    grid-area: atk;
}

#char1Abl {
    grid-area: abl;
}

#char1Mgc {
    grid-area: mgc;
} */


.char_2 {
    grid-area: char2;
    height: 160px;
    display: grid;
    border-left: 10px ridge #2d1e2f;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'info buttons';
}

#char2Info {
    grid-area: info;
    height: 160px;
    display: grid;
    grid-template-rows: 1em 100px 1em;
    grid-template-areas:
        'name'
        'avatar'
        'health';
}

#char2Name {
    grid-area: name;
}

#char2Health {
    grid-area: health;
}

#char2Avatar {
    grid-area: avatar;
}

#char2Buttons {
    grid-area: buttons;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* #char2Buttons {
    grid-area: buttons;
    height: 160px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'atk'
        'abl'
        'mgc';
}

#char2Atk {
    grid-area: atk;
}

#char2Abl {
    grid-area: abl;
}

#char2Mgc {
    grid-area: mgc;
} */


.char_3 {
    grid-area: char3;
    display: grid;
    border-left: 10px ridge #2d1e2f;
    height: 160px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'info buttons';
}

#char3Info {
    grid-area: info;
    height: 160px;
    display: grid;
    grid-template-rows: 1em 100px 1em;
    grid-template-areas:
        'name'
        'avatar'
        'health';
}

#char3Name {
    grid-area: name;
}

#char3Health {
    grid-area: health;
}

#char3Avatar {
    grid-area: avatar;
}

#char3Buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* #char3Buttons {
    grid-area: buttons;
    height: 160px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'atk'
        'abl'
        'mgc';
}

#char3Atk {
    grid-area: atk;
}

#char3Abl {
    grid-area: abl;
}

#char3Mgc {
    grid-area: mgc;
} */


/* Event log Layout */
.eventLog {
    grid-area: eventLog;
    border: 10px ridge #2d1e2f;
    background-color: #242f30;
    overflow-y: scroll;
    height: 760px;
}

.eventLogTitle {
    display: flex;
    justify-content: center;
}

.eventLogInfo {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
}


/* Buttons */
.nextFloorButton {
    position: fixed;
    /* background-color: blue; */
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;

}

.nextFloorButton>button {
    width: 200px;
    height: 100px;
    font-size: 24px;
}
