.landingPage {
    color: white;
    display: flex;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background: #384243;
}

/* background-color: #6133b4;
} */

#landing_page_container {
    top: 0px;
    height: 100vh;
    width: 100vw;
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: #a97c73; */
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    grid-template-areas:
        'left right'
    ;

}

#left {
    grid-area: left;
    display: grid;
    grid-template-rows: 1fr 500px 1fr;
    grid-template-areas:
        'upperleft'
        'middle'
        'lowerleft'
    ;

}

#right {
    grid-area: right;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-row-gap: 20px;
    grid-template-areas:
        'upperright'
        'lowerright'
    ;

}

#upper_left_side {
    grid-area: upperleft;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#middle {
    grid-area: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lower_left_side {
    grid-area: lowerleft;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


#upper_right_side {
    grid-area: upperright;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#lower_right_side {
    grid-area: lowerright;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#middle>#mainLogo {
    height: 500px
}

.myButton {
    /* color: rgb(255, 255, 255); */
    font-size: 30px;
    line-height: 30px;
    padding: 6px;
    border-radius: 10px;
    /* font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(97, 51, 180) 0%, rgb(126, 65, 234) 50%, rgb(67, 40, 116) 100%);
    box-shadow: rgb(0, 0, 0) -10px 2px 15px 5px;
    display: inline-block;}
    .myButton:hover {
    background: #6133B4; }
    .myButton:active {
    background: #432874; } */
}
