#loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 5px ridge #2d1e2f;

}

#loginForm>form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

#loginForm>form>label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#loginForm>form>label>input {
    width: 400px;
}

/* #loginForm>form>button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#loginForm>form>button {
    color: black;
    font-size: 15px;
    line-height: 15px;
    padding: 7px;
    border-radius: 48px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: red;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid black;
    display: inline-block;
}

#loginForm>form>button:hover {
    background: rgb(194, 0, 0);
}

#loginForm>form>button:active {
    background: #144E75;
} */
